# Dependencias de Node
node_modules/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Directorios de compilación / producción
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Cobertura de tests
coverage/
*.lcov

# Archivos temporales
*.log
*.tmp